@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap");

.bodyT {
    font-family: "Roboto Condensed", sans-serif;
    background:rgba(255, 255, 255, 0.5);
    background-size: cover;
    margin: 0;
    min-width: 60%;
    padding: 30px;
  }


.col-4 {
  width: 25%;
  float: left;
}

.head1 {
    font-size: 38px;
    text-transform: uppercase;
    line-height: 1;
  }
  
 
.outcontainer {
    text-align: center;
    min-height: 100vh;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('https://cdn.statically.io/img/cdn.anciitk.in/f=auto/img/bg.jpg') fixed no-repeat;
    background-size: cover;
  }
